<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrimerZP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PrimerZP.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PrimerZP.Properties.Settings>
            <setting name="goal" serializeAs="String">
                <value>120.000</value>
            </setting>
            <setting name="govno" serializeAs="String">
                <value>False</value>
            </setting>
        </PrimerZP.Properties.Settings>
        <PrimerZP.Settings1>
            <setting name="goal" serializeAs="String">
                <value>175.000</value>
            </setting>
        </PrimerZP.Settings1>
    </userSettings>
</configuration>